To: {{ .To }}
From: {{ .From }}
Subject: {{ .Order.FirstName }} {{ .Order.LastName}} hat "{{ .Order.Score.Title }}" bestellt
Date: {{ .Date }}
X-Attached: {{ .Attachment.Filename }}
Content-Type: multipart/mixed;boundary=---------------------{{ .Boundary }}

-----------------------{{ .Boundary }}
Content-Transfer-Encoding: quoted-printable
Content-Type: text/plain;charset=utf-8


{{ .Order.FirstName }} {{ .Order.LastName}} hat "{{ .Order.Score.Title }}" bestellt.



Die Kontaktdaten sind:

Rechnungsadresse: {{ .Order.BillingAddress.Street }} {{ .Order.BillingAddress.StreetNumber}}, {{ .Order.BillingAddress.PostCode}} {{ .Order.BillingAddress.City }}, {{ .Order.BillingAddress.State.Name }}
{{ if .Order.DeliveryAddress.Street }}
Lieferadresse: {{ .Order.DeliveryAddress.Street }} {{ .Order.DeliveryAddress.StreetNumber}}, {{ .Order.DeliveryAddress.PostCode}} {{ .Order.DeliveryAddress.City }}, {{ .Order.DeliveryAddress.State.Name }}
{{ else }}
Lieferadresse: siehe Rechnungsadresse
{{ end }}
E-Mail: {{ .Order.Email }}

Firma/Verein: {{ .Order.Company }}

Telefon: {{ .Order.Telephone }}




-----------------------{{ .Boundary }}
Content-Type: application/pdf; filename="{{ .Attachment.Filename }}"; name="{{ .Attachment.Filename }}"
Content-Transfer-Encoding: base64
Content-Disposition: attachment; filename="{{ .Attachment.Filename }}"; name="{{ .Attachment.Filename }}"

{{ .Attachment.Data }}
-----------------------{{ .Boundary }}--