To: {{ .To }}
From: {{ .From }}
Subject: Ihre Bestellung bei Markus Nentwich
Date: {{ .Date }}
Content-Transfer-Encoding: quoted-printable
Content-Type: text/plain;charset=utf-8


Guten Tag,

vielen Dank für Ihre Bestellung bei Markus Nentwich.
Der Artikel "{{ .Order.Score.Title }}" wird zum Versand vorbereitet und anschließend an folgende Adresse geliefert:

{{ if .Order.DeliveryAddress.Street }}
{{ .Order.FirstName }} {{ .Order.LastName }}
{{ .Order.DeliveryAddress.Street }} {{ .Order.DeliveryAddress.StreetNumber}}
{{ .Order.DeliveryAddress.PostCode}} {{ .Order.DeliveryAddress.City }}
{{ .Order.DeliveryAddress.State.Name }}
{{ else }}
{{ .Order.FirstName }} {{ .Order.LastName }}
{{ .Order.BillingAddress.Street }} {{ .Order.BillingAddress.StreetNumber}}
{{ .Order.BillingAddress.PostCode}} {{ .Order.BillingAddress.City }}
{{ .Order.BillingAddress.State.Name }}
{{ end }}

Die Sendung enthält die Rechnung ihrer Bestellung, die ich Sie bitte, gemäß der enthaltenen Anweisung einzuzahlen.

Mit freundlichen Grüßen
Markus Nentwich

-------------------------------------------
Dies ist eine automatisch generierte E-Mail. Bitte antworten Sie nicht auf diese Nachricht, da die E-Mail-Adresse nicht zum Empfang von E-Mails eingerichtet ist.
Bei Fragen zu Ihrer Bestellung wenden Sie sich an: kontakt@markus-nentwich.at
-------------------------------------------